
.activity-box
{
    spacing: 2pt;
}

.activity-icon
{
    padding: 1pt;
    icon-size: 16pt;
    width: 18pt;
}

.activity-icon-hover
{
    padding-left: 1pt;
    padding-right: 1pt;
    icon-size: 18pt;
    width: 18pt;
}
